/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

window {
  color: hsl(0,0%,10%);
}

#toolbox-tabs {
  margin: 0;
}

#toolbox-controls {
  margin: 0 4px;
}

#toolbox-controls toolbarbutton:not(:last-child) {
  margin: 0 4px;
}

#toolbox-controls toolbarbutton > .toolbarbutton-text {
  display: none;
}

#toolbox-dock-bottom {
  list-style-image: url("chrome://browser/skin/devtools/dock-bottom.png");
}

#toolbox-dock-side {
  list-style-image: url("chrome://browser/skin/devtools/dock-side.png");
}

#toolbox-dock-window {
  list-style-image: url("chrome://browser/skin/devtools/undock.png");
}

#toolbox-dock-window,
#toolbox-dock-bottom,
#toolbox-dock-side,
#toolbox-close {
  opacity: 0.6;
}

#toolbox-dock-window:hover,
#toolbox-dock-bottom:hover,
#toolbox-dock-side:hover,
#toolbox-close:hover {
  opacity: 1;
}


/* Command buttons */

.command-button {
  padding: 0 10px;
  margin: 0;
  width: 16px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.command-button:hover {
  background-color: hsla(206,37%,4%,.2);
}

.command-button:hover:active {
  background-color: hsla(206,37%,4%,.4);
}
.command-button.active {
  color: #f5f7fa;
}
.command-button.toggled {
  background-color: hsla(206,37%,4%,.4);
}

#command-button-responsive {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-responsivemode.png), 0, 16, 16, 0);
}
#command-button-responsive:hover {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-responsivemode.png), 0, 32, 16, 16);
}
#command-button-responsive:hover:active {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-responsivemode.png), 0, 48, 16, 32);
}
#command-button-responsive.toggled {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-responsivemode.png), 0, 64, 16, 48);
}

#command-button-tilt {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-tilt.png), 0, 16, 16, 0);
}
#command-button-tilt:hover {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-tilt.png), 0, 32, 16, 16);
}

#command-button-tilt:hover:active {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-tilt.png), 0, 48, 16, 32);
}

#command-button-tilt.toggled {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-tilt.png), 0, 64, 16, 48);
}

#command-button-scratchpad {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-scratchpad.png), 0, 16, 16, 0);
}

#command-button-scratchpad:hover {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-scratchpad.png), 0, 32, 16, 16);
}

#command-button-scratchpad:hover:active {
  background-image: -moz-image-rect(url(chrome://browser/skin/devtools/command-scratchpad.png), 0, 48, 16, 32);
}


/* Tabs */

.devtools-tabbar {
  -moz-appearance: none;
  background-image: url(background-noise-toolbar.png),
                    linear-gradient(#303840, #2d3640);
  color: hsl(210,30%,85%);
  border-top: 1px solid #060a0d;
  box-shadow: 0 1px 0 hsla(204,45%,98%,.05) inset,
              0 -1px 0 hsla(206,37%,4%,.1) inset;
  height: 32px;
  padding: 0;
}

.devtools-tab {
  -moz-appearance: none;
  min-width: 88px;
  height: 32px;
  color: #b6babf;
  font-size: 11px;
  line-height: 32px;
  text-shadow: 0 -1px 0 hsla(206, 37%, 4%, 0.5);
  -moz-user-select: none;
  margin: 0;
}

.devtools-tab:hover {
  background-image: -moz-linear-gradient(hsla(206,37%,4%,.1), hsla(206,37%,4%,.2));
  color: #ced3d9;
}
.devtools-tab:hover:active {
  background-color: hsla(206,37%,4%,.2);
  color: #f5f7fa;
}

.devtools-tab > .radio-label-box {
  padding: 0 16px;
}

.devtools-tab[selected=true] > .radio-label-box {
  color: #f5f7fa;
  background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #9fdfff, hsla(200,100%,70%,.3)),
                    -moz-radial-gradient(center top, ellipse farthest-side, hsla(200,100%,70%,.4), hsla(200,100%,70%,0)),
                    -moz-linear-gradient(hsla(206,37%,4%,.2), hsla(206,37%,4%,.3));
  background-size: 100% 1px,
                   100% 5px,
                   100%;
  background-repeat: no-repeat,
                     no-repeat,
                     repeat-x;
  box-shadow: 1px -1px 0 hsla(206,37%,4%,.2) inset;
}

.devtools-tab[selected=true]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 130px;
  margin-bottom: -2px;
  width: 16px;
  height: 16px;
  background-image: url(devtools-tab-indicator.png);
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: ease;
}

}

/* Separators */

.devtools-tab::before,
#toolbox-tabs::after {
  content:"";
  display: block;
  margin: 0 -2px;
  width: 3px;
  min-width: 3px;
  height: 32px;
  background-image: -moz-linear-gradient(hsla(204,45%,98%,.05), hsla(204,45%,98%,.1)),
                    -moz-linear-gradient(hsla(206,37%,4%,.3), hsla(206,37%,4%,.6)),
                    -moz-linear-gradient(hsla(204,45%,98%,.05), hsla(204,45%,98%,.1));
  background-size: 1px 32px;
  background-repeat: no-repeat;
  background-position: 0, 1px, 2px;
}
