#magnifier-container {
	background: #eee;
}

#zoom-level {
	vertical-align: middle;
}

#canvas {
	image-rendering: -moz-crisp-edges;
}
#canvas-overflow {
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 10px 10px 5px;
	border: solid 1px #333;
}
#canvas-container {
	display:block;
	position: relative;
}

#color-preview {
	width: 32px;
	box-shadow: 0px 0px 0px black;
	border: solid 1px #fff;
	margin-left: 2px;
	margin-right: 5px;
}

#color-text-preview {
	-moz-user-select:text;
	vertical-align: middle;
	min-width: 100px;
}

#canvas-container {
	transform-origin: 50% 50%;
}

#crosshair, #grid {
	transform-origin: 50% 50%;
}

#toggle-magnifier[checked] {
	background:rgb(255, 200, 200);
}

#grid {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:block;
	pointer-events: none;
	background-position: 3.5px 3.5px, 1px 1px;
	background-size: 1px 3px, 3px 1px;
	background-image: linear-gradient(0deg, transparent 1px, rgba(0,0,0,.2) 2px, transparent 3px, rgba(0,0,0,.2) 4px), linear-gradient(90deg, transparent 1px, rgba(0,0,0,.2) 2px, transparent 3px, rgba(0,0,0,.2) 4px);
}
